<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur_with_gripper">

  <!-- parameters -->
  <xacro:include filename="$(find t42_gripper_moveit_config)/srdf/t42_macro.srdf.xacro"/>

  <xacro:t42_srdf name="t42_gripper"/>
  <!-- parameters -->
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find ur_moveit_config)/srdf/ur_macro.srdf.xacro"/>

  <xacro:ur_srdf name="ur" prefix="$(arg prefix)"/>
  <disable_collisions link1="wrist_3_link" link2="t42_base_link" reason="Adjacent"/>

</robot>